# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Application files
*.ast
*.diagn
*.astExt
*.tunit
*.tunitBin
*.file
*.tokens
*.cur
*.curInfo

*.html

# Executables
*.exe
*.out
*.app
*.opendb
*.db
*.suo
*.ipch
*.tlog
*.pdb
*.txt
*.log
*.ipdb
*.iobj
*.idb
*.ilk
*.db-shm
*.db-wal
*.enc
x64/Release/html.lib
x64/Debug/html.lib
