# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Application files
*.ast
*.diagn
*.astExt
*.tunit
*.tunitBin
*.file
*.tokens
*.cur
*.curInfo
*.type
*.typeInfo

*.html

# Build output directories
x64

# Executables
*.exe
*.out
*.app
*.opendb
*.db
*.suo
*.ipch
*.tlog
*.pdb
*.txt
*.log
*.ipdb
*.iobj
*.idb
*.ilk
*.db-shm
*.db-wal
*.enc

# Databases
*.sqlite3